/* xss */
/* @media (min-width: 320px) {} */

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {}   */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.section {
  margin-top: 5rem;
}

button {
  border: 1.5px solid var(--clr-light);
  padding: 10px 17px 10px 17px;
  width: 100%;
  font-weight: 600;
}

.continue__btn {
  border: 1.5px solid var(--clr-light);
  padding: 10px 17px 10px 17px;
  width: 100%;
  font-weight: 600;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }

  .continue__btn {
    padding: 11px 20px 11px 20px;
    width: 80%;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  .continue__btn {
    padding: 13px 25px 13px 25px;
    width: 70%;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .continue__btn {
    width: 50%;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .section {
    margin-top: 10rem;
  }

  .continue__btn {
    width: 40%;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .continue__btn {
    width: 30%;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }

  .continue__btn {
    width: 20%;
  }
}